.App .MuiAppBar-colorPrimary {
    background-color: rgba(255, 0, 0, 0.281);
}

.App .MuiIconButton-colorPrimary {
    color:rgba(255, 0, 179, 0.726);
}

.App .MuiIconButton-colorSecondary {
    color:rgba(255, 0, 179, 0.726);
}

.App .MuiGrid-container {
    justify-content: center;
}

.App .MuiInputBase-input {
    border: 1px solid rgb(82, 80, 80);
}

.App .MuiPaper-rounded {
    border-radius: 8%;
}